.container {
    margin: 0px;
  }
  .contact{
    margin-left: 2px;
    border: 1px solid darkgray;
    width: 300px;
    padding-left: 8px;
    padding-top: 11px
 
  } 
  .contact:hover {
    background-color: #cee7f2; 
  }
  .contact.active {
    background-color: #cee7f2;
  }

  .titel {
    background-color: #3399CC;
    padding: 1px;
  }
   
  .titel h1 {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: normal;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-left: 21px;
  }
   
  .navbar {
    background-color: #333333;
  }
   
  .navbar .navbar-items ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    color: #FFFFFF;
  }
   
  .navbar-items ul li a:hover {
    background-color: #FF9900;
    color: black;
  }
   
  .active {
    background-color: #FF9900;
    border-left: #FFF solid 3px;
    background-clip: padding-box;
  }
   
  .active a {
    color: #000000;
  }
   
  .navbar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
   
  .navbar-items a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 21px 10px 21px;
  }
   
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
  }
   
  .logo img {
    width: 25px;
    margin: 0px 0px 0px 78em;
    padding-top: 2px;
  }
   
  .contactLists {
    font-size: normal;
    font-family: sans-serif;
    margin-left: 19px;
    font-weight: normal;
  }
   
  h4 {
    font-size: larger;
  }
   
  .dialog-box {
    width: 449px;
    margin-left: 29em;
    margin-top: 3em;
    padding: 29px;
    background-color: #fff;
    /* border: 1px solid #333; */
    box-shadow: 0 0 10px rgb(17 1 1 / 86%);
     display: none; 
    position: absolute;
    z-index: 1000;
  }

  .input-group {
    margin-bottom: 15px;
  }
   
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
   
  .input-group input {
    width: 345px;
    padding: 8px;
  }
   
  .input-group textarea {
    width: 345px;
    padding: 8px;
  }
   
  .phone {
    display: flex;
    column-gap: 15px;
  }
   
  .input-group .phone input {
    padding: 8px;
  }
   
  .col input {
    width: 158px;
  }
   
  .details {
    border: 1px solid;
    width: 177px;
    padding-left: 25px;
  }
  
  .add{
    margin-right: 33px;
    padding: 5px 38px 5px 28px;
    background-color: green;
    color: #fff;
    float: right;
    border: none;
     }

.showContacts
{
  display: flex;
}

.fullDetailsBox
{
  margin-left: 9em;
  margin-top: 2em;
  position: relative;
  font-family: system-ui;
}

.editDeleteButtons {
  position: absolute;
  top: 18px;
  right: 0;
  left: 19em;
  display: flex;
  column-gap: 18px;

}

.button
{
  background: #fff;
  border: 1PX;
}

.editicon
{
  content: url('assets/Edit-icon.png');
  margin-right: 4px;
}


.edit-btn:hover, .delete-btn:hover {
  background-color:ffff;
}
