.container {
    margin: 0px;
  }
  .contact{
    margin-left: 2px;
    border: 1px solid darkgray;
    width: 335px;
    padding-left: 8px;
    padding-top: 11px
 
  } 
  .contact:hover,
  .contact:active
  {
    background-color: #CEE7F2; 
    cursor: pointer;
  }

  .titel {
    background-color: #3399CC;
    padding: 1px;
  }
   
  .titel h1 {
    font-size: 2.8em;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin-left: 13px;
  }
   
  .navbar {
    background-color: #333333;
  }
   
  .navbar .navbar-items ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    color: #FFFFFF;
  }
   
  .navbar-items ul li a:hover {
    background-color: #FF9900;
    color: black;
  }
   
  .active {
    background-color: #CEE7F2;
    background-clip: padding-box;
  }
   
  .active a {
    color: #000000;
  }
   
  .navbar ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  .navbar-items
  {
    font-family: sans-serif;
    font-weight: bold;
  }
   
  .navbar-items a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 21px 10px 21px;
  }
   
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
  }
   
  .logo img {
    width: 25px;
    margin: 0px 0px 0px 78em;
    padding-top: 2px;
  }
   
  .contactLists {
    font-size: normal;
    font-family: sans-serif;
    margin-left: 19px;
    font-weight: normal;
    
  }
   
  h4 {
    font-size: larger;
  }
   
  .dialog-box {
    width: 449px;
    margin-left: 29em;
    margin-top: 3em;
    padding: 29px;
    background-color: #fff;
    /* border: 1px solid #333; */
    box-shadow: 0 0 10px rgb(17 1 1 / 86%);
     display: none; 
    position: absolute;
    z-index: 1000;
  }

  .input-group {
    margin-bottom: 15px;
  }
   
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
   
  .input-group input {
    width: 345px;
    padding: 8px;
  }
   
  .input-group textarea {
    width: 345px;
    padding: 8px;
  }
   
  .phone {
    display: flex;
    column-gap: 15px;
  }
   
  .input-group .phone input {
    padding: 8px;
  }
   
  .col input {
    width: 158px;
  }
   
  .details {
    border: 1px solid;
    width: 177px;
    padding-left: 25px;
  }
  
  .add-update{
    margin-right: 33px;
    padding: 5px 38px 5px 28px;
    background-color: green;
    color: #fff;
    float: right;
    border: none;
     }

.showContacts
{
 
  display: flex;
}



/* Add these styles to your existing CSS file or create a new one */

#fullDetailsBox {
  width: 300px;
  margin-top: 25px;
  margin-left: 7em;
  font-family: 'Arial Narrow';
  position: relative;

}

.contact-details {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.contact-details h1 {
  color: #333;
  margin-bottom: 5px;
  font-weight: lighter;
}

.contact-details p {
  margin: 0;
  color: #666;
}

.contact-details p.email
{
  margin-top: 1px;
  margin-bottom: 17px;
}


.contact-details p.landline
{
 margin-bottom: 20px;
}

.contact-details p.address
{
  margin-top: 20px;
}


/* .button
{
  background: #fff;
  border: 1PX;
} */

.editDeleteButtons {
  position: absolute;
  top: 2.1em;
  right: 0;
  left: 19em;
  display: flex;
  column-gap: 18px;
}

.editicon {
  width: 13px;
  height: 15px;
}

.editicon
{
  display: flex;
  flex-direction: row;
  margin-right: 7px;

}
.editicon::before
{
  display: inline-block;
    content: "";
    margin-right: 4px;
}


.deleteicon
{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.deleteicon::before
{
  display: inline-block;
    content: "";
    margin-right: 4px;
}

.contact-name {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 1.5px;
}

